@{
    ViewBag.metaTitle = "Приобретение цессий";
    ViewBag.metaDescription = "Приобретение цессий";
    ViewBag.metaKeywords = "";
    ViewBag.metaRobots = "noindex, nofollow";

    Layout = "~/Views/Shared/Master.cshtml";
    ViewBag.CurrentMenuItem = "acquisition";
}
@section left_middle
{
    @Html.Action("_getModuleLastComments", "Home", new { show_article_link = true })
}
<section id="assignments-acquisition" class="text-content">
    <hgroup>
        <h1>
            Приобретение цессий
        </h1>    
        <h2>Заголовок 2-го уровня</h2>
    </hgroup>

    <p>Загрузка материала из базы данных</p>

</section>