@{
    ViewBag.metaTitle = "Ошибка 404";
    ViewBag.metaDescription = "Ошибка 404";
    ViewBag.metaKeywords = "";
    ViewBag.metaRobots = "noindex, nofollow";

    Layout = "~/Views/Shared/Master.cshtml";    
}
@*@Styles.Render("~/Content/errors/css")*@
<section id="about" class="text-content">
    <hgroup>
        <h1>
            Ошибка 404
        </h1>    
        <h2>Неправильно набран адрес, или такой страницы на сайте не существует</h2>
    </hgroup>
    <p><a title="Вернуться на главную" href="/">Вернуться на главную</a></p>
</section>